<!DOCTYPE html>
<html lang="en">
<head>

  <style>

    @font-face {
      font-family: 'Inter';
      src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    }
    :root {
      --zinc-200: #E4E4E7;
    }

    *, div {
      margin: 0;
      padding: 0;

      white-space: nowrap;
      font-family: 'Inter',sans-serif;
    }

    .CFI-info-page {
      max-width: 595px;
      max-height: 100vh;/* 842px */
      margin: 120px auto;
    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 16px;

      width: 595px;
      height: 83px;
    }

    .title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 0px 24px 0px 24px;
      gap: 8px;

      max-width: 595px;
      height: 743px;
    }

    .topLines {
      display: flex;
      flex-direction: column;
      padding-left: 93px;
      gap: 8px;
    }

    .bottomLines {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .avatar {
      position: absolute;
      width: 85px;
      height: 113.33px;
      left: 124px;
      top: 132px;
    }

    .line1 p {
      box-sizing: border-box;

      width: 127px;
      height: 30px;
      border-bottom: 2px solid #1F2937;
      flex: none;
      order: 0;
      flex-grow: 0;
      width: 127px;
      height: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #1F2937;
    }

    .line2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;
    }

    #fullNameInput {
      width: 100%;
    }

    #canacInput {
      width: 64px;
    }
    #codeNameInput {
      width: 100%;
    }

    #addressInput {
      width: 174px;
    }

    #neighborhoodInput {
      width: 144px;
    }

    #cityInput, #cepinput {
      width: 100%;
    }

    #cepInput {
      width: 84px;
    }

    #ufInput {
      width: 20px;
    }


    .line3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;
      height: 24px;
    }

    .line4 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      justify-content: space-between;
      height:24px;
    }

    .line5 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height:24px;
      gap: 16px;
    }

    .line6, .line7, .line8 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height:24px;
      gap: 16px;
    }

    #cellphoneInput {
      width: 118px;
    }

    #rgInput {
      width: 70px;
    }

    #bloodTypeInput {
      width: 25px;
    }

    #emergencyContactInput {
      width: 224px;
    }

    .line9 p {
      width: 193px;
      height: 20px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;

      display: flex;
      align-items: center;
      text-align: center;

      color: #1F2937;

      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .line10 {
      display: flex;
      justify-content: space-between;
    }

    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      width:100%;
      margin-left: 8px;
      gap: 4px;

      border-style: solid;
      border-color: var(--zinc-200);
      border-radius: 4px;
      border-width: 1px;

      text-align: center;
    }

    li p {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      height:24px;
      width:38px;
      position: relative;
      left:32px;

      border-bottom: 1px solid #1F2937;
    }

    li:first-child {
      margin-left:0px;
    }

    span {
      display: flex;
      align-items: first baseline;
      gap:4px;
      margin-left: 4px;
    }

    label {
      height: 15px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #1F2937;
    }
    input {
      height: 24px;
      width: 100%;
      border: 1px solid #E2E8F0;
      border-radius: 2px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 8px;
      gap: 10px;
    }
    input[type=checkbox] {
      height: 8.9px;
      width: 8.9px;

      background: #3182CE;
      border: 0.748031px solid #3182CE;
      border-radius: 1.49606px;
    }

    #ifrInstructor {
      height: 24px;
    }

    .ifr-class {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 2px 16px 0px 16px;
    }

    .line13, .line14, .line16 {
      display: flex;
      gap: 8px;
    }

    .line14, .line16 {
      max-width: 418px;
      padding-left: 64px;
    }

    .line18 input {
      /* 3 lines textarea */
      height: calc(24*3px);
    }

  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha de Instrutor de Voo</title>
</head>
<body>
  <div class="CFI-info-page">
    <div class="header">
      <img src="logo.png" alt="Logo">
      <span class="title">Ficha do Instrutor de Voo</span>
    </div>

    <form action="" method="post">

      <img src="avatar.png" alt="" class="avatar">
      <div class="line1">
        <p>Dados de cadastro</p>
      </div>

      <div class="topLines">
        <div class="line2">
          <label for="fullName" id="fullName">Nome completo</label>
          <input type="text" name="fullName" id="fullNameInput" value={{fullname}}>
        </div>
        <div class="line3">
          <label for="codeName" id="codeName">Nome de pista</label>
          <input type="text" name="codeName" id="codeNameInput" value="{{codename}}">
          <label for="canac" id="canac">Código ANAC</label>
          <input type="text" name="canac" id="canacInput" value="{{canac}}">
        </div>
        <div class="line4">
          <label for="address" id="address">Endereço</label>
          <input type="text" name="address" id="addressInput" value="{{address}}">
          <label for="neighborhood" id="neighborhood">Bairro</label>
          <input type="text" name="neighborhood" id="neighborhoodInput" value="{{neighborhood}}">
        </div>
        <div class="line5">
          <label for="city" id="city">Cidade</label>
          <input type="text" name="city" id="cityInput" value="{{city}}">
          <label for="cep" id="cep">CEP</label>
          <input type="text" name="uf" id="cepInput" value="{{cep}}">
          <label for="uf" id="uf">UF</label>
          <input type="text" name="ufDate" id="ufInput" value="{{state}}">
        </div>
      </div>

      <div class="bottomLines">
        <div class="line6">
          <label for="cellphone" id="cellphone">Celular</label>
          <input type="text" name="city" id="cellphoneInput" value="{{cellphone}}">
          <label for="email" id="email">E-Mail</label>
          <input type="text" name="email" id="emailInput" value="{{email}}">
          <label for="rg" id="rg">RG</label>
          <input type="text" name="rg" id="rgInput" value="{{rg}}">
        </div>
        <div class="line7">
          <label for="cpf" id="cpf">CPF</label>
          <input type="text" name="cpf" id="cpfInput" value="{{cpf}}">
          <label for="birthDate" id="birthDate">Nascimento</label>
          <input type="text" name="birthDate" id="birthDateInput" value="{{birthDate}}">
          <label for="hiringDate" id="hiringDate">Admissão</label>
          <input type="text" name="hiringDate" id="hiringDateInput" value="{{hiringDate}}">
        </div>
        <div class="line8">
          <label for="bloodType" id="bloodType">Tipo sanguíneo e RH</label>
          <input type="text" name="bloodType" id="bloodTypeInput" value="{{bloodtype}}">
          <label for="emergencyContact" id="emergencyContact">Contato de Emergência</label>
          <input type="text" name="emergencyContact" id="emergencyContactInput" value="{{emergencyContact}}">
        </div>
        <div class="line9">
          <p>Adaptação de equipamentos</p>
        </div>
        <div class="line10">
          <li id="c152">
            <p>C152</p>
            <span>
              <input type="checkbox" name="ma" id="mac152">
              <label for="mac152">Manobra alta</label>
            </span>
            <span>
              <input type="checkbox" name="mb" id="mbc152">
              <label for="mbc152">Manobra baixa</label>
            </span>
            <span>
              <input type="checkbox" name="nav" id="navc152">
              <label for="navc152">Navegação</label>
            </span>
            <span>
              <input type="checkbox" name="not" id="notc152">
              <label for="notc152">Noturno</label>
            </span>
          </li>
          <li id="p56">
            <p>P56B/C</p>
            <span>
              <input type="checkbox" name="ma" id="map56">
              <label for="map56">Manobra alta</label>
            </span>
            <span>
              <input type="checkbox" name="mb" id="mbc152">
              <label for="mbp56">Manobra baixa</label>
            </span>
            <span>
              <input type="checkbox" name="nav" id="navc152">
              <label for="navp56">Navegação</label>
            </span>
            <span>
              <input type="checkbox" name="not" id="notc152">
              <label for="notp56">Noturno</label>
            </span>
          </li>
          <li id="cherokee">
            <p>Cherokee</p>
            <span>
              <input type="checkbox" name="ma" id="macherokee">
              <label for="macherokee">Manobra alta</label>
            </span>
            <span>
              <input type="checkbox" name="mb" id="mbcherokee">
              <label for="mbcherokee">Manobra baixa</label>
            </span>
            <span>
              <input type="checkbox" name="nav" id="navcherokee">
              <label for="navcherokee">Navegação</label>
            </span>
            <span>
              <input type="checkbox" name="not" id="notcherokee">
              <label for="notcherokee">Noturno</label>
            </span>
          </li>
          <li id="tupi">
            <p>Tupi</p>
            <span>
              <input type="checkbox" name="ma" id="matupi">
              <label for="matupi">Manobra alta</label>
            </span>
            <span>
              <input type="checkbox" name="mb" id="mbtupi">
              <label for="mbtupi">Manobra baixa</label>
            </span>
            <span>
              <input type="checkbox" name="nav" id="navtupi">
              <label for="navtupi">Navegação</label>
            </span>
            <span>
              <input type="checkbox" name="not" id="nottupi">
              <label for="nottupi">Noturno</label>
            </span>
          </li>
          <li id="seneca">
            <p>Seneca</p>
            <span>
              <input type="checkbox" name="ma" id="maseneca">
              <label for="maseneca">Manobra alta</label>
            </span>
            <span>
              <input type="checkbox" name="mb" id="mbseneca">
              <label for="mbseneca">Manobra baixa</label>
            </span>
            <span>
              <input type="checkbox" name="nav" id="navseneca">
              <label for="navseneca">Navegação</label>
            </span>
            <span>
              <input type="checkbox" name="not" id="notseneca">
              <label for="notseneca">Noturno</label>
            </span>
          </li>
        </div>
        <div class="line11">
          <li id="ifrInstructor">
            <div class="ifr-class">
              Instrução IFR
              <input type="checkbox" name="sim" id="sim">
              <label for="sim">Simulador</label>
              <input type="checkbox" name="c152" id="c152">
              <label for="sim">C152</label>
              <input type="checkbox" name="tupi" id="tupi">
              <label for="tupi">Tupi</label>
              <input type="checkbox" name="seneca" id="seneca">
              <label for="senec">Seneca</label>
            </div>
          </li>
        </div>
        <div class="line12">
          <p>Habilitações</p>
        </div>
        <div class="line13">
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </div>
        <div class="line14">
          <li>1</li>
          <li>2</li>
        </div>
        <div class="line15">
          <p>Experiência</p>
        </div>
        <div class="line16">
          <li>1</li>
          <li>2</li>
        </div>
        <div class="line17">
          <p>Ocorrências</p>
        </div>
        <div class="line18">
          <input type="text" name="" id="">
        </div>
      </div>


    </form>
  </div>
</body>
</html>